* {
    /* font-family: 'Courier New', monospace; */
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* IE10+/Edge */
    /* user-select: none; */
    /* Standard */
    /* touch-action: pan-y; */
}

:root {
    /* CUSTOM PROPERTIES */
    --scroll-offset: 5em;
}

.topbar {
    position:fixed;
    top:0;
    width: 100%;
    background-color: white;
}

.headline {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.1em;
    font-weight: bold;
}

.select-box {
    border: solid black 1px;
    border-radius: 0.2em;
    background-color: white;
    color: black;
}

.navigation-container {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    width: 100vmin;
}

.nav-button {
    font-size: 0.7em;
    user-select: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-decoration: underline;
}

.legend {
    width: 100vmin;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-family: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
    font-size: 12px;
    color: #666;
    padding-bottom: 0.4em;
}

.legend-entry {
    display: flex;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 0.4em;
    user-select: none;
    position: relative;
}

.legend-user-text {
    margin-left: 0.3em;
}

.color-box {
    width: 1em;
    height: 1em;
    background-color: red;
}

.strikethrough {
    border-bottom: solid 2px gray;
    /* background-color: red; */
    height: calc(50% - 1px);
    width: 104%;
    position: absolute;
    top: 0px;
    left: -2%;
    display: none;
}

.top-spacer {
    height: var(--scroll-offset);
}

.chart-div {
    /* Set the scroll margin using javascript */
    scroll-margin-top: calc(var(--scroll-offset) + 1em)
}

.title {
    font-size: 1em;
    font-weight: bold;
}

.subtitle {
    font-size: 0.7em;
}

.chart {
    /* height: 50vmax; */
    width: 90vmin;
    margin: auto;
    /* border: solid red; */
}

.bottom-filler {
    display: flex;
    height: calc(100vh - var(--scroll-offset) - 1em);
    /* border: solid red; */
    flex-direction: column;
}