* {
    /* font-family: 'Courier New', monospace; */
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    text-align: center;
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* IE10+/Edge */
    /* user-select: none; */
    /* Standard */
    /* touch-action: pan-y; */
}

.topbar {
    position: sticky;
    top:0;
    width: 100%;
    background-color: red;
}

.headline {
    text-align: center;
    font-size: 5vmin;
}

.nav-button {

}

.chart-div {
    scroll-margin-top: 100px;
}

.stacked-chart {
    height: 50vmin;
    width: 90vmin;
    margin: auto;
}

.upcoming-chart {
    width: 90vmin;
    height: 50vmin;
    margin: auto;
}

.hidden {
    display: none;
}